#cloud-config

chpasswd:
  expire: False

no_ssh_fingerprints: true
ssh:
  emit_keys_to_console: false
ssh_pwauth: false

users:
{% for user in users %}
  - name: {{ user.name }}
    groups: {{ user.group | default("users, sudo, docker") }}
    lock_passwd: false
    sudo: [ALL=(ALL) NOPASSWD:ALL]
    shell: /bin/bash
    hashed_passwd: {{ user.password | password_hash('sha256')}}
    ssh_authorized_keys:
    {% for ssh_key in user.pub_ssh_key -%}
      - {{ ssh_key }}
    {% endfor %}

{% endfor %}

hostname: {{ vm_name }}
fqdn: {{ vm_name }}.{{ domain }}
manage_etc_hosts: true

package_update: true
package_upgrade: true
packages:
{% for package in cloud_init_packages_default %}
  - {{ package }}
{% endfor %}
{%- if cloud_init_packages_extension is defined %}
{% for package in cloud_init_packages_extension %}
  - {{ package }}
{% endfor %}
{%- endif %}
